<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Sistema{% endblock %}</title>
    <!-- Link para o Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
    <style>
        body {
            background-color: #805fad;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .navbar-brand {
            margin-left: 10px; /* Adiciona um pequeno espaço à esquerda */
        }
        .highlight {
        color: purple; /* Define a cor roxa */
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <span class="highlight">Decepticons</span> - Os únicos que você deve obedecer</a>
        <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'criar-veiculos' %}">Cadastro de Veículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar-veiculos' %}">Meus Veículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Perfil</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </div>

    <!-- Link para o Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
